
  
  .navbar{
    margin-top: 2%;
    position: center;
  }

  .layout{
    display:flex;
    align-items: center;
    margin-top: 2%;
    height: 25%;
  }

  .card-img-top{
    scale: 90%
    ;
  }


  #row2{
    margin-top: 2vw;
  }

  .row{
    margin-top: 2vw;
  }

  #searchbar{
    border-color: black;
  }

  .container{
    display: grid;
    justify-content: center;
  }

  @media only screen and (max-width: 760px) {
    /* For mobile phones: */
    [class*="container"] {
      width: 50%;
    }
  }
 